body {
    background-color:#ffffff; /* Define a cor de fundo da página */
}

h1 {
    text-align: center; /* Centraliza o texto dentro de todos os elementos h1 */
    color:#D52D00;
}

p, li {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Define a fonte do texto */
}

.quote {
    border-left: 4px solid #000000; /* Define a largura, o estilo e a cor da barra */
    padding-left: 10px; /* Adiciona um espaço entre a barra e o texto */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; /* Define a fonte do texto */
  }
  
  .paleta {
    display: flex; /* Alinha os quadrados horizontalmente */
    flex-wrap: wrap; /* Quebra para a próxima linha em telas menores */
    gap: 30px; /* Espaçamento entre os quadrados */
    padding: 20px;
  }

  .cor-quadrado {
    width: 100px; /* Largura dos quadrados */
    height: 100px; /* Altura dos quadrados */
  }